/* style sheet */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (max-width: 1000px) {
    #pad {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 45px;
        padding-right: 45px;
        position: relative;
        overflow: hidden;
    }

    html {
        scroll-behavior: smooth;
    }
    
    body {
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;
    }
    
    p {
        font-family: 'Inter', sans-serif;
    }

    /* Navbar Styling */
    .mynav {
    background-color: white !important;
     text-transform: lowercase;
    }
 
    .navbar-brand {
     position: relative;
     display: inline-block;
    }
 
    .navbar-brand .logo_hover {
     display: none;
     position: absolute;
     left: 0;
     z-index: 99;
    }
 
    .navbar-nav {
     /*margin-right: 100px;*/
     font-size: .8rem;
     font-weight: 500;
    }
 
    .nav-item {
     color: white !important;
    }
 
    .mynav a {
     margin-right: 20px;
    }
 
    .mynav a:hover {
     border-bottom: 2px solid #6BBCC0;
    }
 
    .navbar-brand:hover {
     border-bottom: 2px transparent !important;
    }
 
    .navbar-brand:hover .logo_hover {
     display: inline;
    }
 
    .navbar-brand a{
     width: 100% !important;
    }
 
    .active a {
     border-bottom: 2px solid #6BBCC0;
    }

    #arrow_down {
        display: none;
    }
    
    #arrow_down a {
        display: none;
    }

    /*Landing Page*/
.landing {
    background: white;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.ai_description .intro-inner {
    padding-left: 0;
    padding-right: 0;
}

.intro-inner {
    height: 55vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#landing-inner h1 {
    font-weight: 300;
    text-align: center;
}

#landing-inner h3 {
    font-weight: 100;
}


    #landing-title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #landing-desc {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-left: 45px;
    }
    
    #title_pad {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        overflow: hidden;
    }

    center_ {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /*.works_view {
        background-color: rgb(250, 245, 239) !important;
    }*/

    /*.ai_description {
        background:  rgb(250, 245, 239);
    }*/

    .works {
        background: rgb(250, 245, 239);
    }

    .sixthcard img{
        display: none;
    }

    .works img {
        max-width: 90%;
    }

    .img-zoom {
        padding-left: 25px;
    }

    .col_ {
        display: flex;
        flex-direction: column;
    }

    .interview {
        padding-top: 75px;
    }

    .smalldesc {
        flex: 1 1 0px;
    }

    #ai_personas_img {
        display: flex;
        flex-direction: column;
    }

    #ai_personas_img img {
        max-width: 100%;
    }

    /* LPRC */
    .ai_description .img_size {
        max-width: 100%;
    }

    .ai_description img {
        width: 100%;
    }

    .lprc_affinitydia, .img_size {
        max-width: 100%;
    }

    #lprc_wireframes img,
    .lprc_affinitydia img,
    .ai_description img,
    #lprc_storyboard img,
    #lprc_palette img,
    #lprc_paperproto img {
        width: 100%;
    }

    #lprc_wireframes .img_size {
        max-width: 100%;
    }

    #lprc_storyboard .img_size {
        max-width: 100%;
    }

    #lprc_paperproto .img_size {
        max-width: 100%;
    }

    #lprc_personas .img_size {
        max-width: 100%;
    }

    #lprc_diagrams .img_size {
        max-width: 100%;
    }

    #lprc_personas img {
        width: 100%;
    }
    
    #lprc_prototype .img_size {
        max-width: 100%;
    }

    #lprc_prototype img {
        padding-right: 15px;
        width: 100%;
    }

    #lprc_palette .img_size {
        max-width: 100%;
    }

    .bordered_text {
        border-style: solid;
        border-radius: 10px;
        border-color: #6BBCC0;
        padding: 30px;
    }

    /*YANTRA*/
    #yantra_initial img {
        max-width: 100%;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    /*Google Photos*/
    #google_solution img {
        padding-bottom: 15px;
        max-width: 100%;
    }

    /*About*/
/*.aboutme {
    height: 100vh;
    background: rgb(240, 237, 235);
}*/

.aboutme #pad {
    padding-top: 0px;
}

.aboutme img {
    max-width: 100%;
}

.aboutme h2 {
    font-weight: 600;
}
/*Footer*/
footer {
    background-color: white;
    text-transform: lowercase;
}

.contct {
    padding: 30px;
}

.smed i {
    font-size: 20px;
    padding: 10px;
    color: black;
}

.smed i:hover {
    color: #6BBCC0;
}

.test_container {
    background-color: #3F8C90;
}
}