/* style sheet */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (max-width: 1000px) {
    #pad {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 45px;
        padding-right: 45px;
        position: relative;
        overflow: hidden;
    }

    html {
        scroll-behavior: smooth;
    }
    
    body {
        overflow-x: hidden;
        font-family: 'Poppins', sans-serif;
    }
    
    p {
        font-family: 'Poppins', sans-serif;
        color: gray;
    }

    /* Navbar Styling */
    .mynav {
    background-color: white !important;
     text-transform: lowercase;
    }
 
    .navbar-brand {
     position: relative;
     display: inline-block;
    }
 
    .navbar-brand .logo_hover {
     display: none;
     position: absolute;
     left: 0;
     z-index: 99;
    }
 
    .navbar-nav {
     /*margin-right: 100px;*/
     font-size: .8rem;
     font-weight: 500;
    }
 
    .nav-item {
     color: white !important;
    }
 
    .mynav a {
     margin-right: 20px;
    }
 
    .mynav a:hover {
     border-bottom: 2px solid #E35D5D;
    }
 
    .navbar-brand:hover {
     border-bottom: 2px transparent !important;
    }
 
    .navbar-brand:hover .logo_hover {
     display: inline;
    }
 
    .navbar-brand a{
     width: 100% !important;
    }
 
    .active a {
     border-bottom: 2px solid #E35D5D;
    }

    #arrow_down {
        display: none;
    }
    
    #arrow_down a {
        display: none;
    }

    /*Landing Page*/
.landing {
    background: white;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.ai_description .intro-inner {
    padding-left: 0;
    padding-right: 0;
}

.intro-inner {
    height: 55vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#landing-inner h1 {
    font-weight: 300;
    text-align: center;
}

#landing-inner h3 {
    font-weight: 100;
}


    #landing-title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #landing-desc {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-left: 45px;
    }
    
    #title_pad {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        overflow: hidden;
    }

    center_ {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /*.works_view {
        background-color: rgb(250, 245, 239) !important;
    }*/

    /*.ai_description {
        background:  rgb(250, 245, 239);
    }*/

    /*.works {
        background: rgb(250, 245, 239);
    }*/

.works h5,
.works h6 {
    text-align: center;
}

h6 {
    font-weight: 200;
    color: gray;
 text-transform: uppercase;
}

    .button {
        margin:auto;
        display:block;
    }

    .btn {
        color: #E35D5D;
        border: 2px solid #E35D5D;
        background-color: white;
        font-size: 12px;
        cursor: pointer;
        border-radius: 25px;
        width: 125px;
        align-items: center;
    }

    
    button:hover {
        background-color: #E35D5D;
        color: white;
    }

    button a {
        color: #E35D5D;
    }

    button a:hover {
        text-decoration: none;
    }

    .disabled {
        pointer-events: none;
        background-color: #E35D5D;
        color: white;
    }

    .sixthcard img{
        display: none;
    }

    .works img {
        max-width: 90%;
    }

    .img-zoom {
        padding-left: 25px;
    }

    .col_ {
        display: flex;
        flex-direction: column;
    }

    .interview {
        padding-top: 75px;
    }

    .smalldesc {
        flex: 1 1 0px;
    }

    #ai_personas_img {
        display: flex;
        flex-direction: column;
    }

    #ai_personas_img img {
        max-width: 100%;
    }

    /* LPRC */
    .ai_description .img_size {
        max-width: 100%;
    }

    .ai_description img {
        width: 100%;
    }

    .lprc_affinitydia, .img_size {
        max-width: 100%;
    }

    #lprc_wireframes img,
    .lprc_affinitydia img,
    .ai_description img,
    #lprc_storyboard img,
    #lprc_palette img,
    #lprc_paperproto img {
        width: 100%;
    }

    #lprc_wireframes .img_size {
        max-width: 100%;
    }

    #lprc_storyboard .img_size {
        max-width: 100%;
    }

    #lprc_paperproto .img_size {
        max-width: 100%;
    }

    #lprc_personas .img_size {
        max-width: 100%;
    }

    #lprc_diagrams .img_size {
        max-width: 100%;
    }

    #lprc_personas img {
        width: 100%;
    }
    
    #lprc_prototype .img_size {
        max-width: 100%;
    }

    #lprc_prototype img {
        width: 100%;
        padding-bottom: 20px;
    }

    #lprc_palette .img_size {
        max-width: 100%;
    }

    #lprc_vid video {
        width: 100%;
    }

    .bordered_text {
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: #E35D5D;
        padding: 30px;
    }

    .bordered_text_gray {
        border-style: solid;
        border-radius: 10px;
        border-color: rgb(250, 249, 249);
        background-color: rgb(250, 249, 249);
        padding: 30px;
        margin-bottom: 5%;
    }

    .border_shadow {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    /*Sublist */
    #sublist_interviews img,
    #sublist_competition img,
    #sublist_personas img,
    #sublist_flow img,
    #sublist_wireframe img {
        width: 100%;
    }

    #sublist_interviews .img_size {
        max-width: 100%;
    }

    #sublist_personas .img_size {
        max-width: 100%;
    }

    #sublist_flow .img_size {
        max-width: 100%;
    }
    
    #sublist_wireframe .img_size {
        max-width: 100%;
    }
    #sublist_prototype img {
        padding-bottom: 20px;
        width: 100%;
    }
    
    #sublist_prototype .img_size {
        max-width: 100%;
    }

    .fling-minislide {width:100%; height:250px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 9s infinite; opacity:1; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(3){animation-delay:0s;}
.fling-minislide img:nth-child(2){animation-delay:3s;}
.fling-minislide img:nth-child(1){animation-delay:6s;}

#sublist_prototype video {
    width: 30%;
}


    /*YANTRA*/
    #yantra_initial img {
        max-width: 100%;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    /*Passionfruit*/
    #passionfruit_observations .img_size {
        max-width: 100%;
    }
    
    #passionfruit_observation img {
        width: 100%;
    }

    #passionfruit_competition .img_size {
        max-width: 100%;
    }

    #passionfruit_competition img {
        width: 100%;
    }

    #passionfruit_flow .img_size {
        max-width: 100%;
    }
    
    #passionfruit_flow img {
        width: 100%;
    }

    .whitebackground {
        background-color:white;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .ssbackground_title {
        padding-top: 50px;
        padding-bottom: 100px; 
    }

    .sswhite_margins {
        margin-left: 0%; 
        margin-right: 0%;
    }

    /*Google Photos*/
    #google_solution img {
        padding-bottom: 15px;
        max-width: 100%;
    }
    
    /* The Dish */
    #thedish_affinity .img_size,
    #thedish_wireframes .img_size,
    #thedish_brand .img_size,
    #thedish_prototype .img_size {
        max-width:100%;
    }

    #thedish_affinity img,
    #thedish_wireframes img,
    #thedish_prototype img {
        width: 100%;
    }

    #thedish_brand img {
        width: 50%;
    }

    #thedish_video video {
        width: 100%;
    }
        

    /*About*/
/*.aboutme {
    height: 100vh;
    background: rgb(240, 237, 235);
}*/

.aboutme img {
    border-radius: 50%;
}

.aboutme #pad {
    padding-top: 0px;
}

.aboutme img {
    max-width: 100%;
}

.aboutme h2 {
    font-weight: 600;
}

#prev_next_btn {
    margin-right: 100px;
    margin-left: 100px;
}

/*Footer*/
footer {
    background-color: #F8F5F5;
    padding-left: 75px;
    padding-right: 75px;
}

.contct {
    padding: 30px;
}

.smed i {
    font-size: 20px;
    padding: 10px;
    color: black;
}

.smed i:hover {
    color: #E35D5D;
}

.test_container {
    background-color: #3F8C90;
}
}