/* style sheet */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (min-width: 1000px) {
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    font-family: 'PT Sans', sans-serif;
}

/* Navbar Styling */
.mynav {
   background-color: white !important;
    text-transform: lowercase;
}

.works_view {
    background-color: rgb(250, 245, 239) !important;
}

.navbar-brand {
    margin-left: 100px;
    position: relative;
    display: inline-block;
}

.navbar-brand .logo_hover {
    display: none;
    position: absolute;
    left: 0;
    z-index: 99;
}

.navbar-nav {
    margin-right: 100px;
    font-size: .8rem;
    font-weight: 700;
}

.nav-item {
    color: white !important;
}

.mynav a {
    margin-right: 20px;
}

.mynav a:hover {
    border-bottom: 2px solid #6BBCC0;
}

.navbar-brand:hover {
    border-bottom: 2px transparent !important;
}

.navbar-brand:hover .logo_hover {
    display: inline;
}

.navbar-brand a{
    width: 100% !important;
}

.active a {
    border-bottom: 2px solid #6BBCC0;
}

/*@media only screen and (max-width: 990px) {
    .navbar-brand {
        margin-left: 10px;
    }
}*/

/*Landing Page*/
.landing {
    background: white;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.intro-inner {
    height: 55vh;
    min-height: 600px;
    text-align: center;
    display: flex;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#landing-title {
    display: flex;
    flex-direction: column;
}

#landing-desc {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
}

.row_ {
    display: flex;
    flex-direction: row;
}

.col_ {
    display: flex;
    flex-direction: column;
}

.twocol {
    flex: 1 1 0px;
}

.twocol_left {
    flex: 1 1 0px;
    padding-right: 30px;
}

#landing-inner h1 {
    font-weight: 300;
    text-align: center;
}

#landing-inner h3 {
    font-weight: 100;
}

.portrait {
    width: 115%;
    margin-top: -50px;
    max-width: 100%;
}

/*Arrow*/
#arrow_down {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#arrow_down a { 
    color: gray; 
    text-decoration: none;  
    animation: fade-slide-up 1s 1s ease-out forwards,
    pulse 2s 3s ease-out infinite;
    opacity: 0;
    color: #6BBCC0;
  }

#arrow_down a:hover {
    text-decoration: none;
    color: #3F8C90;
}

/* Arrow Animation */
@keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
@keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
  
  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: none;
    }
    50% {
      opacity: .8;
      transform: scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

/*Works*/
#pad {
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

#title_pad {
    padding: 90px;
    position: relative;
    overflow: hidden;
}

.works {
    background: rgb(250, 245, 239);
}

.img-zoom {
    transition: 0.3s ease;
    display: inline-block;
}

.works .row {
    padding-bottom: 10px;
}

.sixthcard img{
    display: none;
}

.img-zoom img {
    transition: transform .6s ease;
}

.img-zoom:hover img {
    transform: scale(1.03);
    display: inherit;
}

.responsive {
    width: 100%;
    height: auto;
}

/* Sidebar */
#sidenav {
    font-size: 12px;
}

#sidenav .nav-link{
    color: gray;
    text-decoration: none;
}

#sidenav .nav-link.active,
#sidenav .nav-link:hover,
#sidenav .nav-link:focus{
    color: #6BBCC0;
    font-weight: 600;
}

/* Project 1 */
.project1_view {
    height: 55vh;
}

#main {
    font-weight: 300;
}

#main p {
    color: gray;
}

#main h4 {
    font-weight: 700;
}

#design_sec h4 {
    font-weight: 700;
}

#personas {
    max-width: 50%;
}

/* Project 2 */
.project2_view {
    height: 55vh;
    text-align: center;
    padding: 100px;
}

#main {
    background: rgb(240, 237, 235);
}

#personas_2 img {
    max-width: 50%;
}

/*AI_Education Project*/

#personas_ai img {
    max-width: 50%;
}

#recruit_2 .ai_interview {
    max-width: 50%;
}

/* AI Education Edited */
.ai_description {
        background:  rgb(250, 245, 239);
        height: 55vh;
        overflow: hidden;
        position: relative;
        text-align: center;
}

#ai_proposal {
    background: white;
}

#ai_personas_img {
    display: flex;
    flex-direction: column;
}

#ai_personas img {
    max-width: 100%;
}

#ai_research .interview {
    padding-left: 50px;
}

#ai_research img {
    max-width: 100%;
}

#ai_design img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*#ai_mockups {
    background: #9e4940;
}*/

#ai_learnings {
    background: rgb(253, 247, 247);
}

/*Sublist Edited */
/*#sublist_problem {
    background: #410e02;
}*/

/*LPRC*/
#lprc_wireframes img {
    width: 100%;
}

#lprc_diagrams img {
    max-width: 48%;
}

#lprc_prototype img {
    padding-right: 15px;
    width: 100%;
}

/*Yantra*/
#yantra_initial img {
    width: 100%;
    padding-right: 15px;
    padding-bottom: 15px;
}

.img_size {
    max-width: 60%;
}

#ai_mockups_popups .img_size {
    max-width: 45%;
}

#lprc_wireframes .img_size {
    max-width: 48%;
}

#lprc_prototype .img_size {
    max-width: 40%;
}

#sublist_design .img_size {
    max-width: 75%;
}

/*Google Photos*/

#google_solution img {
    padding-bottom: 35px;
    max-width: 65%;
}

/*About*/
/*.aboutme {
    height: 100vh;
    background: rgb(240, 237, 235);
}*/

.aboutme img {
    max-width: 100%;
}

.aboutme h2 {
    display: block !important;
}

.aboutme h2 {
    font-weight: 600;
}
/*Footer*/
footer {
    background-color: white;
    text-transform: lowercase;
}

.contct {
    padding: 30px;
}

.smed i {
    font-size: 20px;
    padding: 10px;
    color: black;
}

.smed i:hover {
    color: #6BBCC0;
}

.test_container {
    background-color: #3F8C90;
}
}