/* style sheet */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

/* Navbar Styling */
.mynav {
    background: white !important;
    text-transform: uppercase;
}

.navbar-brand {
    margin-left: 100px;
    font-weight: 500;
    font-size: 25px;
}

.navbar-nav {
    margin-right: 100px;
    font-size: .8rem;
    font-weight: 600;
}

.mynav a {
    margin-right: 20px;
}

.mynav a:hover {
    border-bottom: 2px solid #6BBCC0;
}

.navbar-brand:hover {
    border-bottom: 2px transparent !important;

}

.active a {
    border-bottom: 2px solid #6BBCC0;
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 10px;
    }
}

/*Landing Page*/
.landing {
    height: 80vh;
    background-color: white;
    padding-top: 100px; 
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
}

#landing-inner {
    padding-left: 50px;
}

.display-3 {
    font-weight: 500;
}

/*Arrow*/
#arrow_down {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#arrow_down a { 
    color: gray; 
    text-decoration: none;  
    animation: fade-slide-up 1s 1s ease-out forwards,
    pulse 2s 3s ease-out infinite;
    opacity: 0;
    color: #6BBCC0;
  }

#arrow_down a:hover {
    text-decoration: none;
    color: #3F8C90;
}

/* Arrow Animation */
@keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
@keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
  
  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: none;
    }
    50% {
      opacity: .8;
      transform: scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

/*Works*/
#pad {
    padding: 100px;
    position: relative;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
}

.img-zoom {
    transition: 0.3s ease;
    display: inline-block;
}

.works .row {
    padding-bottom: 10px;
}

.img-zoom img {
    transition: transform .6s ease;
}

.img-zoom:hover img {
    transform: scale(1.03);
    display: inherit;
}

/* Sidebar */
#sidenav {
    font-size: 12px;
}

#sidenav .nav-link{
    color: gray;
    text-decoration: none;
}

#sidenav .nav-link.active,
#sidenav .nav-link:hover,
#sidenav .nav-link:focus{
    color: #6BBCC0;
    font-weight: 600;
}

/* Project 1 */
.project1_view {
    height: 80vh;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#sec1 .col {
    color: gray;
}

/* Project 2 */
.project2_view {
    height: 80vh;
    background-color: whitesmoke;
    padding: 100px;
}


/*About*/
.aboutme {
    height: 100vh;
}


/*Footer*/
footer {
    background-color: whitesmoke;
    text-transform: lowercase;
}

.contct {
    padding: 30px;
}

.smed i {
    font-size: 20px;
    padding: 10px;
    color: black;
}

.smed i:hover {
    color: #6BBCC0;
}