/* style sheet */
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media only screen and (min-width: 1000px) {
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

p {
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Navbar Styling */
.mynav {
   background-color: white !important;
    text-transform: lowercase;
}

/*.works_view {
    background-color: rgb(250, 245, 239) !important;
}*/

.navbar-brand {
    margin-left: 100px;
    position: relative;
    display: inline-block;
}

.navbar-brand .logo_hover {
    display: none;
    position: absolute;
    left: 0;
    z-index: 99;
}

.navbar-nav {
    margin-right: 100px;
    font-size: .8rem;
    font-weight: 600;
}

.nav-item {
    color: white !important;
}

.mynav a {
    margin-right: 20px;
}

.mynav a:hover {
    border-bottom: 2px solid #E35D5D;
}

.navbar-brand:hover {
    border-bottom: 2px transparent !important;
}

.navbar-brand:hover .logo_hover {
    display: inline;
}

.navbar-brand a{
    width: 100% !important;
}

.active a {
    border-bottom: 2px solid #E35D5D;
}

/*@media only screen and (max-width: 990px) {
    .navbar-brand {
        margin-left: 10px;
    }
}*/

/*Landing Page*/
.landing {
    background: white;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.intro-title {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 0px;
    height: auto;
}

.intro-inner {
    height: 55vh;
    min-height: 600px;
    text-align: center;
    display: flex;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#landing-title {
    display: flex;
    flex-direction: column;
}

#landing-desc {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
}

.row_ {
    display: flex;
    flex-direction: row;
}

.col_ {
    display: flex;
    flex-direction: column;
}

.twocol {
    flex: 1 1 0px;
}

.twocol_left {
    flex: 1 1 0px;
    padding-right: 30px;
}

#landing-inner h1 {
    font-weight: 400;
    text-align: left;
}

#landing-inner h3 {
    font-weight: 200;
    text-align: left;
}

#landing-inner img {
    width: 100%;
}

#landing-inner .img_size {
    max-width: 50%;
}

.portrait {
    width: 115%;
    margin-top: -50px;
    max-width: 100%;
}


/*Arrow*/
#arrow_down {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#arrow_down a { 
    color: gray; 
    text-decoration: none;  
    animation: fade-slide-up 1s 1s ease-out forwards,
    pulse 2s 3s ease-out infinite;
    opacity: 0;
    color: #E35D5D;
  }

#arrow_down a:hover {
    text-decoration: none;
    color: #3F8C90;
}

/* Arrow Animation */
@keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
@keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
  
  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: none;
    }
    50% {
      opacity: .8;
      transform: scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

/*Works*/
#works_pad {
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

#pad {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

#title_pad {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

.center_ {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*#ai_process {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 0px;
}*/

/*.works {
    background: rgb(250, 245, 239);
}*/

.works .row_ {
    padding-top: 15px;
    padding-bottom: 50px;
}

.img-zoom {
    transition: 0.3s ease;
    display: inline-block;
}

.works .row {
    padding-bottom: 10px;
}

.sixthcard img{
    display: none;
}

.img-zoom img {
    transition: transform .6s ease;
}

.img-zoom:hover img {
    transform: scale(1.03);
    display: inherit;
}

.responsive {
    width: 100%;
    height: auto;
}

.btn {
    color: #E35D5D;
    border: 2px solid #E35D5D;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    width: 125px;
}

.btn:hover {
    background-color: #E35D5D;
    color: white;
}

.btn a {
    color: #E35D5D;
}

.btn a:hover {
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    background-color: #E35D5D;
    color: white;
    
}

/* Sidebar */
#sidenav {
    font-size: 12px;
}

#sidenav .nav-link{
    color: gray;
    text-decoration: none;
}

#sidenav .nav-link.active,
#sidenav .nav-link:hover,
#sidenav .nav-link:focus{
    color: #E35D5D;
    font-weight: 400;
}


/* Project 1 */
.project1_view {
    height: 55vh;
}

#main {
    font-weight: 300;
}

#main p {
    color: gray;
}

#main h4 {
    font-weight: 700;
}

#design_sec h4 {
    font-weight: 700;
}

h6 {
    font-weight: 300;
    color: gray;
 text-transform: uppercase;
}

#personas {
    max-width: 50%;
}

/* Project 2 */
.project2_view {
    height: 55vh;
    text-align: center;
    padding: 100px;
}

#main {
    background: rgb(240, 237, 235);
}

#personas_2 img {
    max-width: 50%;
}

/*AI_Education Project*/

#personas_ai img {
    max-width: 50%;
}

#recruit_2 .ai_interview {
    max-width: 50%;
}

/* AI Education Edited */
.ai_description {
        /*height: 100vh;*/
        overflow: hidden;
        position: relative;
        text-align: center;
}

#ai_proposal {
    background: white;
}

#ai_personas_img {
    display: flex;
    flex-direction: column;
}

#ai_personas img {
    max-width: 100%;
}

#ai_research .interview {
    padding-left: 50px;
}

#ai_research img {
    max-width: 100%;
}

#ai_design img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*#ai_mockups {
    background: #9e4940;
}*/


/*Sublist Edited */
/*#sublist_problem {
    background: #410e02;
}*/

#sublist_interviews img,
#sublist_personas img,
#sublist_flow img,
#sublist_wireframe img {
    width: 100%;
}

#sublist_interviews .img_size {
    max-width: 50%;
}

#sublist_competition img {
    width: 100%;
}

#sublist_competition .img_size {
    max-width: 100%;
}

#sublist_personas .img_size {
    max-width: 100%;
}

#sublist_flow .img_size {
    max-width: 80%;
}

#sublist_wireframe .img_size {
    max-width: 90%;
}

#sublist_prototype img {
    padding-bottom: 20px;
    width: 100%;
}

#sublist_prototype .img_size {
    max-width: 100%;
}

#sublist_competition .twocol_left {
    padding-left: 140px;
}

#sublist_competition .twocol {
    padding-right: 140px;
}

.fling-minislide {width:70%; height:400px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 9s infinite; opacity:1; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(3){animation-delay:0s;}
.fling-minislide img:nth-child(2){animation-delay:3s;}
.fling-minislide img:nth-child(1){animation-delay:6s;}


#sublist_prototype video {
    width: 30%;
    padding-right: 35px;
}

#sublist_design .img_size {
    max-width: 75%;
}

/*LPRC*/
.ai_description .img_size {
    max-width: 100%;
}

.lprc_affinitydia, .img_size {
    max-width: 100;
}
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);*/

#lprc_wireframes img,
.lprc_affinitydia img,
.ai_description img,
#lprc_storyboard img,
#lprc_palette img,
#lprc_paperproto img{
    width: 100%;
}

#lprc_storyboard .img_size {
    max-width: 100%;
}

#lprc_paperproto .img_size {
    max-width: 100%;
}

#lprc_personas .img_size {
    max-width: 100%;
}

#lprc_diagrams .img_size {
    max-width: 100%;
}

#lprc_personas img {
    width: 100%;
}

#lprc_diagrams img {
    max-width: 100%;
}

#lprc_prototype img {
    padding-bottom: 20px;
    width: 100%;
}

#lprc_prototype .img_size {
max-width: 100%;
}

#lprc_palette .img_size {
    max-width: 30%;
}

.bordered_text {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #E35D5D;
    padding: 30px;
}

.bordered_text_gray {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(250, 249, 249);
    background-color: rgb(250, 249, 249);
    padding: 30px;
    margin-right: 5%;
    margin-left: 5%;
}

.border_shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*Yantra*/
#yantra_initial img {
    width: 100%;
    padding-right: 15px;
    padding-bottom: 15px;
}

.img_size {
    max-width: 60%;
}

#ai_mockups_popups .img_size {
    max-width: 45%;
}

#lprc_wireframes .img_size {
    max-width: 100%;
}

#lprc_vid video {
    width: 100%;
}

/*Passionfruit*/
#passionfruit_observations .img_size {
    max-width: 100%;
}

#passionfruit_observation img {
    width: 100%;
}

#passionfruit_competition .img_size {
    max-width: 100%;
}

#passionfruit_competition img {
    width: 100%;
}

#passionfruit_flow .img_size {
    max-width: 100%;
}

#passionfruit_flow img {
    width: 100%;
}

#passionfruit_wireframes .img_size {
    max-width: 100%;
}

#passionfruit_wireframes img {
    width: 100%;
}

.whitebackground {
    background-color:rgb(250, 249, 249);
    padding-top: 50px;
    padding-bottom: 50px;
}

.ssbackground_title {
    padding-top: 50px;
    padding-bottom: 100px; 
    padding-left: 200px; 
    padding-right: 200px;
}

.sswhite_margins {
    margin-left: 22%; 
    margin-right: 22%;
}

/*Google Photos*/

#google_solution img {
    padding-bottom: 35px;
    max-width: 65%;
}

/* The Dish */
#thedish_affinity .img_size,
#thedish_wireframes .img_size,
#thedish_brand .img_size,
#thedish_prototype .img_size {
    max-width:100%;
}

#thedish_affinity img,
#thedish_wireframes img,
#thedish_prototype img {
    width: 100%;
}

#thedish_brand img {
    width: 50%;
}

#thedish_video video {
    width: 30%;
}

/*About*/
/*.aboutme {
    height: 100vh;
    background: rgb(240, 237, 235);
}*/

.aboutme img {
    max-width: 70%;
    border-radius: 50px;
}

.aboutme h2 {
    display: block !important;
}

.aboutme h2 {
    font-weight: 600;
}

/*Next button*/
#prev_next_btn {
    margin-right: 100px;
    margin-left: 100px;
}

/*Footer*/
footer {
    background-color: #F8F5F5;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
}

.contct {
    font-weight: 300;
    padding: 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.smed i {
    font-size: 20px;
    padding-right: 10px;
    color: black;
}

.smed i:hover {
    color: #E35D5D;
}

.test_container {
    background-color: #3F8C90;
}
}